<style>
    .contenedor{
        margin-top: 3rem;
    }
</style>
<center>
    <div class="contenedor">
        <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-body text-danger">
        <h5 class="card-title">Acceso denegado</h5>
        <p class="card-text">Usa una cuenta del plantel CETIS 155.</p>
        </div>

    </div>


</div>

</center>